.Carousel { float: left; overflow: hidden; padding:15px; width: 100%; }

.Carousel-inner { transition: 1s ease all; float: left; }

    .Carousel-inner .item { float: left; border: None; text-align:center; }
    .leftLst, .rightLst { margin-top:15px;}