<div class="item">
    <div class="col-xs-12 col-sm-12 col-lg-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Camera1</h4>
                <p class="category">Some infomation about the location of the camera.</p>
            </div>
             <div class="content">
                    <video width="100%" controls>
                        <source src="{{ static_url('videos/120_0.mp4') }}"type="video/mp4">
                            Your browser does not support the video tag.
                    </video>

                <div class="footer">
                    <hr>
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> uploaded at XXXX time
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>